<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>maintenance page</title>
  </head>

  <body>
    <h1> We'll Be Rigth Back.</h1>
    <p> Site is currently being updated, we will be back soon.</p>
    
      {{> footer}}
  </body>
</html>
